@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/inter-variablefont.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/src/assets/fonts/space-grotesk-variable.ttf') format('truetype');
    font-weight: 300 700;
    font-display: swap;
}
